@import './var';
@import 'mixin';

@import './common';
@import './vant-theme';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
}

html {
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  overscroll-behavior: none;
  max-width: 700px;
  margin: 0 auto;
  font-size: 14px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC',
    'Helvetica Neue', STHeiti, 'Microsoft Yahei', Tahoma, Simsun, sans-serif;
}

.bounce {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.view-router {
  background-color: $bg-color;
  height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.full-page {
  height: 100vh;
}

.scroll-wrap {
  overflow-y: scroll;
}

.router-fade-enter-active,
.router-fade-leave-active {
  transition: opacity 0.3s;
}

.router-fade-enter,
.router-fade-leave-active {
  opacity: 0;
}

.van-tabbar,.van-goods-action,.van-submit-bar,.van-popup,.van-address-list__add{
  width: 100%;
  max-width: 700px;
  left: 50%!important;
  transform: translate(-50%,0);
}
.van-popup--center{
  transform: translate3d(-50%,-50%,0);
}
// .van-sku-container{
//   transform: translate(-50%,0);

// }
.van-dialog{
  max-width: 700px;
}
