@mixin one-border(
  $direction: bottom,
  $border-color: $border-color,
  $opacity: 1
) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    border-#{$direction}: 1px solid $border-color;
    opacity: $opacity;
  }
}
